{
  "tavily_api_key": "",
  "model": "deepseek-v4-flash",
  "api_key": "",
  "base_url": "https://api.deepseek.com/v1",
  "prompt": "prompts/default.md",
  "workdir": ".",
  "checkpoint": "",
  "max_iter": 10,
  "max_duration": 600,
  "verbose": true,
  "mcp_servers": {
    "llm-radar": {
      "command": "python3",
      "args": [
        "~/CodeSpace/llm-radar.jaden.tech/llm-radar-mcp-server.py"
      ],
      "env": {
        "LLM_RADAR_MCP_KEY": "llm-radar-mcp-2026"
      }
    }
  }
}